.product-img {
  width: 100px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  height:350px;
  
}

.form-len {
  width: 50px;
}

.ca-info {
  text-align: center;
}

.po-info1 {
  height:260px;
}

.po-info2 {
  text-align: center;
}
.pull-bottom {
  
  margin-bottom:10px;
}

.product-photo {
  border: 1px solid #ddd;
  border-radius: 4px;
}